<div class="login-container" #loginCard>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Iniciar Sesión</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Usuario</mat-label>
          <input matInput [(ngModel)]="username" name="username" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" [(ngModel)]="password" name="password" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!username || !password">Entrar</button>
      </form>
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    </mat-card-content>
    <mat-card-actions>
      <a routerLink="/registro">Registrar una cuenta</a>
      <a routerLink="/recuperar-clave">¿Olvidaste tu contraseña?</a>
    </mat-card-actions>
  </mat-card>
</div>